@font-face {
    font-family: 'IranianSans';
    src: url('../fonts/iranSans/FontsFree-Net-ir_sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/inter/Inter.ttf');
    font-weight: normal;
    font-style: normal;
}